<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:insert="layout/layout :: config">
    <title>Product Management</title>
</head>
<style>
    .delete {
        display: none;
        position: fixed;
        border-radius: 7px;
        background: #f3f3f3;
        color: black;
        width: 400px;
        left: 800px;
        z-index: 1000;
    }

    .delete .closebtn {
        position: absolute;
        top: -6px;
        right: 8px;
        font-size: 20px;
    }

    .boxDelete {
        margin: 30px;
    }
</style>
<body>
<div th:insert="layout/script :: script"></div>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900"
     :class="{ 'overflow-hidden': isSideMenuOpen }">
    <aside th:insert="layout/sidebarLeft :: sidebarLeft"></aside>
    <div class="flex flex-col flex-1 w-full">
        <header th:insert="layout/header :: header">
        </header>
        <main class="h-full overflow-y-auto">
            <div class="container px-6 mx-auto grid">
                <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                    Dashboard
                </h2>
                <!-- Cards -->
                <div class="w-full overflow-hidden rounded-lg shadow-xs" style="margin-bottom: 10px">
                    <!-- Card -->
                    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                        <form  th:action="@{/products/search}" th:object="${products}" >
                            <div class="mr-auto w-full flex" >
                                <label class="block text-lg ml-6 mr-6">
                                    <input type="text" name="name"
                                           class="block w-full mt-1 text-lg dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="Name Product"/>
                                </label>
                                <label class="block text-lg mr-6">
                                    <input type="number" name="price"
                                           class="block w-full mt-1 text-lg dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="Vd: 100.000"/>
                                </label>
                                <label class="block text-lg mr-6">
                                <input type="number" name="quantity"
                                           class="block w-full mt-1 text-lg dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                       placeholder="Vd: 1"/>
                                </label>
                                <label class="block text-lg mr-6">
                                <input type="text" name="describes"
                                           class="block w-full mt-1 text-lg dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                           placeholder="Describes..."/>
                                </label>
                                <button class="mt- px-4 py-2 text-lg font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- New Table -->
                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full whitespace-no-wrap">
                            <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="font-semibold text-sm px-4 py-3">Name</th>
                                <th class="font-semibold text-sm px-4 py-3">Price</th>
                                <th class="font-semibold text-sm px-4 py-3">Quantity</th>
                                <th class="font-semibold text-sm px-4 py-3">Describe</th>
                                <th class="font-semibold text-sm px-4 py-3">Action</th>
                            </tr>
                            </thead>
                            <tbody th:each="product : ${products}"
                                   class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <tr class="text-gray-700 dark:text-gray-400">
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <!-- Avatar with inset shadow -->
                                        <div class="relative hidden w-12 h-12 mr-3 rounded-full md:block">
                                            <img
                                                    class="object-cover w-full h-full rounded-full"
                                                    th:src="@{'/public/' + ${product.image}}"
                                                    alt="Img"
                                                    loading="lazy"
                                            />
                                            <div
                                                    class="absolute inset-0 rounded-full shadow-inner"
                                                    aria-hidden="true"
                                            ></div>
                                        </div>
                                        <p th:text="${product.name}"></p>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <p th:text="${product.price}"></p>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <p th:text="${product.quantity}"></p>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <p th:text="${product.describe}"></p>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <a class="mr-2" th:href="@{/products/update/__${product.id}__ }">
                                        <i style="color: black" class="fa-solid fa-pen"></i>
                                    </a>
                                    <a @click="openModal" th:data-product-id="${product.id}"
                                       onclick="openFormDelete(this.getAttribute('data-product-id'))">
                                        <i style="color: black" class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                                <td>
                                   <label th:text="${message}"></label>
                                </td>
                            </tr>


                            <div id="formDelete" class="delete">
                                <span class="closebtn" onclick="closeFormDelete()">&times;</span>
                                <div class="boxDelete">
                                    <h1 class="mb-2">Confirm</h1>
                                    <span class="mt-2">Do you want to delete product?</span></br>
                                    <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple bg-white mr-2 w-26"
                                            type="button" onclick="closeFormDelete()">Close
                                    </button>
                                    <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple bg-purple-600 w-26 "
                                            type="button">
                                        <a id="deleteButton" href="#">Delete</a>
                                    </button>
                                </div>
                            </div>
                            </tbody>
                        </table>
                    </div>
                    <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                <span class="flex items-center col-span-3">
                  Showing 21-30 of 100
                </span>
                        <span class="col-span-2"></span>
                        <!-- Pagination -->
                        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                  <nav aria-label="Table navigation">
                    <ul class="inline-flex items-center">
                      <li>
                        <button
                                class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous"
                        >
                          <svg
                                  aria-hidden="true"
                                  class="w-4 h-4 fill-current"
                                  viewBox="0 0 20 20"
                          >
                            <path
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd"
                                    fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                      <li>
                          <div id="page">
                              <a class="btn btn-primary" th:if="${products.hasPrevious()}"
                                 th:href="@{/products(page=${products.number - 1})}">
                                  <button class="btPage">Previous</button>
                              </a>
                              <span th:text="${products.number + 1}"></span> | <span
                                  th:text="${products.totalPages}"></span>
                              <a class="btn btn-primary" th:if="${products.hasNext()}"
                                 th:href="@{/products(page=${products.number + 1})}">
                                  <button class="btPage">Next</button>
                              </a>
                          </div>
                          <!--                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">-->
                          <!--                          1-->
                          <!--                        </button>-->
                      </li>
                      <li>
                        <button
                                class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                                aria-label="Next"
                        >
                          <svg
                                  class="w-4 h-4 fill-current"
                                  aria-hidden="true"
                                  viewBox="0 0 20 20"
                          >
                            <path
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"
                                    fill-rule="evenodd"
                            ></path>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </nav>
                </span>
                    </div>
                </div>
            </div>
        </main>
    </header>
</div>
<script th:inline="javascript">
    function openFormDelete(id) {
        var deleteLink = `/products/delete/${id}`;
        document.getElementById("formDelete").style.display = "block"
        document.getElementById("overlay").style.display = "block"
        var deleteButton = document.getElementById("deleteButton");
        if (deleteButton) {
            deleteButton.href = deleteLink;
        }
    }

    function closeFormDelete() {
        document.getElementById("formDelete").style.display = "none"
    }

    var msg = [[${msg}]];
    if (msg != null) {
        var status = [[${ status }]];
        switch (status) {
            case 'error':
                toastr.error(msg);
                break;
            default:
                toastr.success(msg);
                break;
        }
    }

</script>
</div>
</body>
</html>`