/*$primary: #11998e;*/
/*$secondary: #38ef7d;*/
/*$white: #fff;*/
/*$gray: #9b9b9b;*/
.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1rem;
    color: #6b6868;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: #11998e;
        font-weight:700;
    }
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}
.create{
    width: 95%;
    margin: 70px auto;
}
.update{
    display: none;
    width: 800px;
    height: 500px;
    position: fixed;
    background-color: #e9ecef;
    overflow-x: hidden;
    border-radius: 7px;
    top: 100px;
    left: 600px;
}
.update .closebtn {
    position: absolute;
    top: -16px;
    right: 8px;
    font-size: 40px;
}
.create .closebtn {
    position: absolute;
    top: -16px;
    right: 8px;
    font-size: 40px;
}
.formCreate{
    margin: 45px;
}
.fontSize{
    font-size: 16px;
}